  /* HALL OF FAME */


video{
    width:100%;
}

h2{
    @include h2;
}

.awards{
    display:inline-block;
}
.awardslist{
    @include awardslist;
}
.lebronchamp{
    max-height: 40rem;
}
.conorchamp{
    max-height: 30rem;
}
.navi{
    background-color:map-get($colores, titulos );
}

.navi a, ul, li{
    color:map-get($colores, back );
}
.navis:hover{
    color:map-get($colores, blacki );
}
.navbar-toggler-icon{
background: linear-gradient(#FFD369, #EEEEEE);
border-radius: 5px;
}