  /* HALL OF FAME */


video{
    width:100%;
}

h2{
    @include h2;
}

.awards{
    display:inline-block;
}
.awardslist{
    @include awardslist;
}
.lebronchamp{
    max-height: 40rem;
}
.conorchamp{
    max-height: 30rem;
}
.navi{
    background-color:$yellow;
}

.navi a, ul, li{
    color:$grey;
}
.navis:hover{
    color:$black;
}
.navbar-toggler-icon{
background: linear-gradient($white, $yellow);
border-radius: 5px;
}