*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:#EDEDED;
    font-family: 'Bebas Neue', cursive;
    
}

// Map - Colores

$colores: (
    titulos: #FFD369,
    back: #393E46,
    blacki: #222831,
    texti: #EEEEEE,
);


// Mixin

@mixin container {
    margin:0;
    padding:0;
    padding:8rem;
    border: 1px #EEEEEE solid;
}

@mixin h2 {
    color:#DA0037;
    text-align:center;
    font-size:6rem;
}

@mixin awardslist {
    padding:0.5rem;
    font-size:1.5rem;
    color:map-get($colores, titulos );

}



@media (min-width:992px){
/*INDEX*/

    body{
        background-color:  map-get($colores, back );
    }
    .navito{
        background-color:map-get($colores,texti );
    }
    .navito a, ul, li{
        color: map-get($colores, back );
        
    }
    .navito a:hover{
        transform: scale(1.2);
        }
    

    /* Containers */

    .aboutus{
        @include container;        
    }
    
    .aboutus1{
        @include container;
        @extend .aboutus1;
        background-image: url(img/goats.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 170px;
        background-color: black;
    }
.aboutus0{
        @include container;
        @extend .aboutus0;
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10vw;
    animation: glow 2500ms linear infinite 2000ms;

    @keyframes glow {
    40% {
    text-shadow: 0 0 8px #fff;
        }
    }
}

    h1{
        text-align:center;
        color:map-get($colores, texti );
        font-size: 5rem;
    }



    #title1, #title2, #title3, #title4{
        color: map-get($colores, titulos );
        letter-spacing: 5px;
    }
    .paraph{
        text-align:center;
        font-size: 1.5rem;
    }

    .famelink{
            text: {
                align:center;
            }
        color:map-get($colores, titulos );
        font-size:3rem;
    }
    .famelink:hover{
        color:map-get($colores, texti );
    }

    /* Form */
    .formcon{
        text-align:center;
    }
    .input{
        width:50%;
    }
    .form-control{
        text-align:center;
    }
    #exampleFormControlInput1{
        width:50%;
        margin-left:17rem;
    }
    .btn{
        height:50px;
        width: 150px;
        color:map-get($colores, texti );
        
    }


    /* HALL OF FAME */

    @import "fame";

}


@media (min-width:790px) and (max-width:991px){

/*INDEX*/

body{
    background-color: map-get($colores, back );
}
.navito{
    background-color:map-get($colores,texti );
}
.navito a, ul, li{
    color:map-get($colores, back );
}


/* Containers */

.aboutus{
    @include container;
}

.aboutus0{
    @include container;
}

h1{
    text-align:center;
    color:map-get($colores, texti );
    font-size: 5rem;
}


#title1, #title2, #title3, #title4{
    color: map-get($colores, titulos );
    letter-spacing: 5px;
    
}
.paraph{
    text-align:center;
}

.famelink{
        text: {
            align:center;
        }
    color:map-get($colores, titulos );
    font-size:3rem;
}
.famelink:hover{
    color:map-get($colores, texti );
}

/* Form */
.formcon{
    text-align:center;
}
.input{
    width:50%;
}
.form-control{
    text-align:center;
}
#exampleFormControlInput1{
    width:50%;
    margin-left:17rem;
}
.btn{
    height:50px;
    width: 150px;
    color:map-get($colores, texti );
}

/* HALL OF FAME */


@import "fame";

}


    
@media (min-width:576px) and (max-width:789px)
{
/*INDEX*/

body{
    background-color: map-get($colores, back );
}
.navito{
    background-color:map-get($colores,texti );
}
.navito a, ul, li{
    color:map-get($colores, back );
}


/* Containers */

.aboutus{
    @include container;
}

.aboutus0{
    @include container;
}

h1{
    text-align:center;
    color:map-get($colores, texti );
    font-size: 5rem;
}



#title1, #title2, #title3, #title4{
    color: map-get($colores, titulos );
    letter-spacing: 5px;
}
.paraph{
    text-align:center;
}

.famelink{
        text: {
            align:center;
        }
    color:map-get($colores, titulos );
    font-size:3rem;
}
.famelink:hover{
    color:map-get($colores, texti );
}

/* Form */
.formcon{
    text-align:center;
}
.input{
    width:50%;
}
.form-control{
    text-align:center;
}
#exampleFormControlInput1{
    width:50%;
    margin-left:17rem;
}
.btn{
    height:50px;
    width: 150px;
    color:map-get($colores, texti );
}

/* HALL OF FAME */

@import "fame";

}

@media (min-width:320px) and (max-width:575px)
{
/*INDEX*/

body{
    background-color: map-get($colores, back );
}
.navito{
    background-color:map-get($colores,texti );
}
.navito a, ul, li{
    color:map-get($colores, back );
}


/* Containers */

.aboutus0{
    border: 1px #EEEEEE solid;
}
.aboutus{
    border: 1px #EEEEEE solid;
}
.aboutus1{
    border: 1px #EEEEEE solid;
}

h1{
    text-align:center;
    color:map-get($colores, texti );
    font-size: 4rem;
}



#title1, #title2, #title3, #title4{
    color: map-get($colores, titulos );
    letter-spacing: 5px;
}
.paraph{
    text-align:center;
}

.famelink{
        text: {
            align:center;
        }
    color:map-get($colores, titulos );
    font-size:3rem;
}
.famelink:hover{
    color:map-get($colores, texti );
}

/* Form */
.formcon{
    text-align:center;
}
.input{
    width:50%;
}
.form-control{
    text-align:center;
}
#exampleFormControlInput1{
    width:50%;
    margin-left:17rem;
}
.btn{
    height:50px;
    width: 150px;
    color:map-get($colores, texti );
}

/* HALL OF FAME */

@import "fame";

}